.PicBrowserDiv{
  width:90%;
  height:90%;
  display: inline-block;
  padding: 5px 10px 6px;
  text-decoration: none;
  background:#eee;
  
  border-radius: 5px;
  box-shadow: 2px 5px 5px #aaa;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
}

#PicViewFrame{
  float:left;
  height:100%;
  background:#a00;
  
}

#CommentFrame{
  width:300px;
  height:100%;
  right:0px;
  float:left;
  background:#0b0;
}
